:root {
    --clr-blue: rgb(52,166,251);
    --clr-blue: #023047;
    --clr-lava: #bb3e03;
    --clr-dead: rgb(160, 64, 64);
    --clr-gray: rgb(64, 64, 64);
    --clr-player: green;
    --clr-wall: rgb(210, 206, 206);
    --clr-yellow: #fbbc04;
}

/* --blue-color: #006699;
--yellow-color: #fbbc04; */

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--clr-gray);
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game {
    overflow: hidden;
    max-width: 42rem;
    max-height: 28rem;
    position: relative;
    margin-inline: auto;
    margin-top: 40px;
    /* margin-block: auto; */
    /* border: 10px solid rgb(44, 41, 41);
    border-radius: 5px;
    box-shadow: inset 0 0 10px #000000, 0 5px 15px rgba(0,0,0,0.5); */
}

#game-start-container {
    max-width: 42rem;
    max-height: 28rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    gap: 20px;
}

.background    { 
    background: var(--clr-blue);
    table-layout: fixed;
    border-spacing: 0;              
}

.background td { 
    padding: 0;                     
}

.lava { 
    background: var(--clr-lava); 
}

.wall { 
    background: var(--clr-wall);              
}

.actor { 
    position: absolute;            
}

.coin { 
    background: var(--clr-yellow); 
}

.player { 
    background: var(--clr-player);   
}

.lost .player {
    background: var(--clr-gray);
}

.won .player {
    box-shadow: -4px -7px 8px var(--clr-white), 4px -7px 8px var(--clr-white);
}

.title-container {
    max-width: 40rem;
    background-color: var(--clr-gray);
    margin-inline: auto;
    padding: 1px;
    /* margin-bottom: 10px; */
}

h1 {
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    color: var(--clr-yellow);
    margin-block: 10px;
}

#end-message {
    display: none;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    color: var(--clr-yellow);
}

#restart-button, #start-button {
    display: none;
    /* position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width: 20rem;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: var(--clr-blue);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    color: var(--clr-yellow);
}

#start-button {
    margin-top: 40px;
    margin-inline: auto;
}


/* welcome page */

.vertical-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
}

p {
    margin-block: 15px;
}

.row-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 0px;
    width: 100%;
    gap: 40px;
}

.align-right {
    display: flex;
    justify-content: flex-end;
}

.align-left {
    display: flex;
    justify-content: flex-start;
}

.gap-20 {
    gap: 20px;
}

.gap-40 {
    gap: 40px;
}

.about-text {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--clr-wall);    
}

.coins-animation {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 20px;
}

.front-coin {
    width: 15px;
    height: 15px;
    background-color: var(--clr-yellow);
    position: relative;
    display: inline-block;
    animation: front-wobble 3s infinite;
    margin-top: 5px;
}

@keyframes front-wobble {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
}

/* .animation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
} */

/* .animation > div {
    flex-basis: 50%;
} */

.animation > div {
    flex: 0 0 auto;
}

.row-container > div:first-child {
    flex-basis: 50%; /* Sets the first child to take 70% of the flex container's space */
}

.row-container > div:last-child {
    flex-basis: 50%; /* Sets the second child to take the remaining 30% of the space */
}
.front-lava {
    width: 20px;
    height: 20px;
    background-color: var(--clr-lava);
    /* position: relative; */
    display: inline-block;
    animation: moveLava 5s ease-in-out infinite;
    margin-right: -80px;
    margin-top: 5px;
}

/* @keyframes moveLava {
    0%, 100% { transform: translateX(0); }
    50% { transform: translateX(-20px); }
} */

@keyframes moveLava {
    0%, 100% { transform: translateX(0); } /* Start and end at the original position */
    50% { transform: translateX(340%); } /* Move to the far end of the container */
}

.lives-number {
    color: red;
    font-size: 1.4rem;
    font-weight: bold;
}

.you-choose {
    color: var(--clr-yellow);
    font-size: 1.2rem;
    font-weight: bold;
}

#game-about-container {
    border: 2px solid var(--clr-wall);
    border-radius: 5px;
}


/* game stats */

#game-stats-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    position: fixed;
    top: 10px;
    right: 10px;

}

#lives-container {
    font-size: 1.2rem;
    font-weight: bold;
    /* position: fixed;
    top: 10px;
    right: 10px; */
    padding: 10px;
    background-color: var(--clr-gray);
    color: var(--clr-wall);
    /* border: 1px solid #000; */
}

#level-container {
    font-size: 1.2rem;
    font-weight: bold;
    /* position: fixed;
    top: 70px; 
    right: 10px; */
    padding: 10px;
    background-color: var(--clr-gray);
    color: var(--clr-wall);
    /* border: 1px solid #000; */
}

#coins-collected-container, #coins-remaining-container {
    font-size: 1.2rem;
    font-weight: bold;
    /* position: fixed; 
    right: 10px; */
    padding: 10px;
    background-color: var(--clr-gray);
    color: var(--clr-wall);
    /* border: 1px solid #000; */
}


/* #coins-collected-container {
    top: 150px;
}

#coins-remaining-container {
    top: 180px;
} */