:root {
    --clr-blue: rgb(52,166,251);
    --clr-blue: #023047;
    --clr-red-lava: rgb(255, 100, 100);
    --clr-red-lost: rgb(160, 64, 64);
    --clr-gray: rgb(64, 64, 64);
    --clr-player: green;
    --clr-wall: rgb(210, 206, 206);
    --clr-yellow: #fbbc04;
}

/* --blue-color: #006699;
--yellow-color: #fbbc04; */

body {
    font-family: "Montserrat", sans-serif;
}

.game {
    overflow: hidden;
    max-width: 40rem;
    max-height: 28rem;
    position: relative;
    margin-inline: auto;
}

.background    { 
    background: var(--clr-blue);
    table-layout: fixed;
    border-spacing: 0;              
}

.background td { 
    padding: 0;                     
}

.lava { 
    background: var(--clr-red-lava); 
}

.wall { 
    background: var(--clr-wall);              
}

.actor { 
    position: absolute;            
}

.coin { 
    background: var(--clr-yellow); 
}

.player { 
    background: var(--clr-player);   
}

.lost .player {
    background: var(--clr-red-lost);
}

.won .player {
    box-shadow: -4px -7px 8px var(--clr-white), 4px -7px 8px var(--clr-white);
}

.title-container {
    max-width: 40rem;
    background-color: var(--clr-gray);
    margin-inline: auto;
    padding: 1px;
    margin-bottom: 2rem;
}

h1 {
    text-align: center;
    font-size: 1.8rem;
    color: var(--clr-red-lava);
    margin-block: 2px;
    
}

.title-container p {
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--clr-wall);
    margin-block: 2px;
    
}

#end-message {
    display: none;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    color: var(--clr-red-lost);
}

#restart-button {
    display: none;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: var(--clr-blue);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    color: var(--clr-yellow);
}

/* #restart-button:hover {
    background-color: var(--clr-gray-player);
    color: var(--clr-white);
}    */

#lives-container {
    font-size: 1.2rem;
    font-weight: bold;
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: var(--clr-gray);
    color: var(--clr-wall);
    border: 1px solid #000;
}


  